// Index page style
.movies-grid {
  .movie-card {
    width:220px;
    margin:auto;
    padding: 20px 0;
    .poster img {
      height: 325px;
      width:100%;
    }
    .movie-info {
      background-color: rgba(0, 0, 0, 0.2);
      padding: 10px 12px 20px 12px;
      overflow: hidden;
      border-radius: 3px;
      .title { height: 50px; }
    }
  }
}
