<%if notice.present? || alert.present? %>
	<div class="row">
		<%is_alert = alert.present? ? "alert" : ""%>
		<div data-alert class="alert-box <%=is_alert%>">
			<%=notice || alert%>
			<a href="#" class="close">&times;</a>
		</div>
	</div>
<%end%>
